    <%- include('../partials/asidenav.ejs')%>

    <section class="content-main" >
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Category Lists</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div>


                <a href="/addcategory" class="btn btn-danger btn-sm rounded">Add Category +</a>

            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th  >UID</th>
                            <th   scope=" col">category Name</th>
                        <th scope="col">Category Discription</th>

                        <th scope="col" >Edit</th>
                        <th   scope="col" >Delete</th>
                        </tr>
                        </thead>
                        <tbody  >
                            <% if(category.length > 0) { %>
                                <% let UID=1;%>
                                    <% category.forEach (data=>{ %>
                                        <tr >
                                             <td >
                                                <%= UID++ %>
                                            </td>
                                            <td   ><b>
                                                    <%= data.categoryname %>
                                                </b></td>
                                            <td  >
                                                <%= data.categorydescription %>
                                            </td  >


                                            <td >

                                                
                                                    <a href="/editCategory/<%= data._id %>" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i><button class="btn btn-sm rounded font-sm"   style=" align-items: center; justify-content: center; width: 15px; height: 22px; color: white;" >Edit</button> </a>

                                                </button>
                                            </td  >
                                            <%if (data.categorystatus===false){ %>
                                                <td >
                                                  
                                                    
                                                        
                                                        <a  onclick="confirmBlockCategory('<%= data._id %>')" ><button  class="btn btn-sm rounded font-sm "  style="background-color: #3BB77E;  align-items: center; justify-content: center;  color: white; width: 68px ;">Block</button></a>

                                                </td>
                                                <%}else{%>
                                                    <td >
                                                    
                                                        <a  onclick="confirmUnBlockCategory('<%= data._id %>')"><button  class="btn btn-sm rounded font-sm "  style="background-color: #be2222;  align-items: center; justify-content: center; color: white; ">unBlock</button></a>


                                                    </td>
                                                    <% } %>
                                                        <% })%>
                                                            <% }else{ %>
                                              <tr>
                                                 <td colspan="3" class="text-center">
                                                     <p class="mt-3">No users</p>
                                                 </td>px
                                               </tr>
                                        <% } %>
                                 </tr>

                        </tbody>
                    </table>
                </div>
                <!-- table-responsive //end -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <% if (i == currentPage) { %>active<% } %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </section>
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="path/to/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/adminpublic/adminlogin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminpublic/adminlogin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminpublic/adminlogin/js/vendors/select2.min.js"></script>
    <script src="/adminpublic/adminlogin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminpublic/adminlogin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminpublic/adminlogin/js/main.js?v=1.1" type="text/javascript"></script>
  
    <script>
        function confirmBlockCategory(categoryId) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You are about to Block this category!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3BB77E',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, block it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/adminBlockcategory/" + categoryId;
        }
    });
}
        function confirmUnBlockCategory(categoryId) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You are about to unBlock this category!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#db0b2e',
        cancelButtonColor: '#3BB77E',
        confirmButtonText: 'Yes, unBlock it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "/adminBlockcategory/" + categoryId;
        }
    });
}

    </script>

   