<%- include('../partials/asidenav.ejs')%>

<section class="content-main"  >
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List</h2>
          
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
        </div>
       
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <% if(orderData.length> 0){ %> 
                        <%   orderData.forEach((item) => { %>
                            <%   item.orderedItem.forEach((data) => { %>
                    <tbody>
                        <tr>
                            <td><%= item.orderId %></td>
                            <td><b><%= item.userId.name %></b></td>
                            <td><%= item.userId.email %></td>

                            <td><%= data.totalProductAmount%></td>
                            
                            <td><span class="badge rounded-pill alert-warning"><%= data.productStatus%></span></td>
                            <td>03.12.2020</td>
                            <td class="text-end">   
                                <a href="/orderdetiles/<%= item._id %>" class="btn btn-md rounded font-sm">Detail</a>
                            </td>
                        </tr>
                        
                    </tbody>
                    <% }); %>
                    <% }); %>
                    <% }%>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <% if (i == currentPage) { %>active<% } %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
    
</section>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Reason</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            
                <% let UID=1 %>
                <%   orderData.forEach((item) => { %>
                    <%   item.orderedItem.forEach((data) => { %>
                        <% if(data.returnRequest===true||data.returnRequest==false) {%>
            <tbody>
              <tr>
                <th scope="row"><%= UID++ %></th>
                <td><%= item.orderId %></td>
                <td><%= data.productId.productname %></td>
                <td><%= data.returnReason %></td>
                <% if(data.returnRequest===true) {%>
                <td>Pending</td>
                <% }else{ %>
                <td>Aprooved</td>
                <% } %>
              </tr>
              
              
            </tbody>
            <% }%>
            <% }); %>
                    <% }); %>
          </table>
          
      </div>
    </div>
  </div>
  
 



<script src="/adminpublic/adminlogin/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/select2.min.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/perfect-scrollbar.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="/adminpublic/adminlogin/js/main.js?v=1.1" type="text/javascript"></script>