<%- include('../partials/asidenav.ejs')%>




    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products</h2>

            </div>
            <div>
                <a type="button" class="btn btn-primary" href="/addproduct">add Products</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="reloadPart" class="table table-hover">

                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <!-- offer in future -->
                                        <th>Edit</th>
                                        <th>List/unList</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(product.length> 0){%>
                                        <% UID=1 %>
                                            <% product.forEach (data=>{ %>

                                                <tr>
                                                    <td>
                                                        <%= UID++ %>
                                                    </td>
                                                    <td> <img src="/uploads/<%= data.productimage[0] %>" width="50px"
                                                            class="rounded-3 " /></td>
                                                    <td>
                                                        <%= data.productname %>
                                                    </td>
                                                    <td>
                                                        <%= data.productquadity %>
                                                            </>
                                                    <td>
                                                        <%= data.categoryId %>
                                                            </>
                                                    <td>
                                                        <%= data.productprice %>
                                                            </>
                                                    <td>

                                                        <a href="/editproductdetiles/<%= data._id %>"
                                                            style="background-color: #3BB77E;"> <button
                                                                class="btn btn-md rounded font-sm"
                                                                style=" background-color: #3BB77E;"> Edit </button> </a>
                                                    </td>

                                                    <%if (data.isListed===true){ %>
                                                        <td>
                                                            <a onclick="confirmBlock('<%= data._id %>')"><button
                                                                    class="btn btn-md rounded font-sm"
                                                                    style="width:68px; background-color: #9cb73b;">
                                                                    List</button></a>
                                                        </td>
                                                        <%}else{%>
                                                            <td>
                                                                <a onclick="confirmUnBlock('<%= data._id %>')"><button
                                                                        class="btn btn-md rounded font-sm"
                                                                        style="background-color: rgb(218, 79, 79);">
                                                                        unList</button></a>

                                                            </td>
                                                            <% } %>
                                                                <% })%>
                                                                    <% }else{ %>
                                                <tr>
                                                    <td colspan="3" class="text-center">
                                                        <p class="mt-3">No users</p>
                                                    </td>
                                                </tr>
                                                <% } %>

                                                    </tr>

                                </tbody>



                            </table>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        
        </div>

        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <% if (i == currentPage) { %>active<% } %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
      
    </section>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="path/to/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
        function confirmBlock(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to unList Product!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#db0b2e',
                cancelButtonColor: '#3BB77E',
                confirmButtonText: 'Yes, unList it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/listProduct?id=" + userId;
                }
            });
        }

        function confirmUnBlock(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to List this Product!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#db0b2e',
                cancelButtonColor: '#3BB77E',
                confirmButtonText: 'Yes, List it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    window.location.href = "/listProduct?id=" + userId;
                }
            });
        }

    </script>