<%- include('../partials/mainheader.ejs')%>

    <!-- mini cart start -->
    <style>
        .input-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2),
                9px 15px 25px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            width: 120px;
        }

        button,
        input {
            outline: none;
            border: none;
            padding: 14px;
            font-size: 12px;
        }

        input {
            width: 50px;
            text-align: center;
        }

        button {
            cursor: pointer;
        }

        button:nth-last-child(1) {
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
        }

        button:nth-child(1) {
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }

        button:hover {
            background-color: #e6e6e6;
        }

        button:nth-last-child(1):active {
            box-shadow: inset -4px 5px 10px rgba(0, 0, 0, 0.5);
        }

        button:nth-child(1):active {
            box-shadow: inset 4px 5px 10px rgba(0, 0, 0, 0.5);
        }
    </style>

    <div class="cart-area pt-100 pb-100 ">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form action="#">
                        <div class="cart-table-content">
                            <div class="table-content table-responsive">
                                <!----------------------------------------------------- CART TAB ------------------------------------------------------------------------------>
                                <table style="width: 500px;">
                                    <thead>
                                        <tr style="width: 300px;">
                                            <th class="width-thumbnail"></th>
                                            <th class="width-name">Product</th>
                                            <th class="width-price"> Price</th>
                                            <th class="width-quantity">Quantity</th>
                                            <!-- <th class="width-subtotal">Subtotal</th> -->
                                            <th class="width-remove"></th>
                                        </tr>
                                    </thead>
                                    <% if(cartDetiles.length>0){ %>
                                        <% cartDetiles.forEach((data,index)=>{ %>

                                            <tbody>
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a href="product-details.html"><img
                                                                src="/uploads/<%= data.products[0].productId.productimage[0] %>"
                                                                alt=""></a>
                                                    </td>

                                                    <td class="product-name">
                                                        <h5><a href="product-details.html">
                                                                <%= data.products[0].productId.productname %>
                                                            </a></h5>
                                                    </td>

                                                    <td class="product-cart-price"><span class="amount">
                                                            <%= data.products[0].productId.productprice %>
                                                        </span></td>

                                                    <td class="cart-quality">
                                                        <div class="product-quality"  onclick="qtyControl(this,'<%=data.products[0]._id%>')">
                                                            <input class="cart-plus-minus input-text qty text"
                                                            name="quantity" value="<%=data.products[0].
                                                            quantity %>">

                                                                
                                                        </div>
                                                      

                                                    </td>

                                                    <!-- <td class="product-total"><span><%= data.products[0].productId.productprice %></span></td> -->

                                                    <td class="product-remove"><a href="#"><i
                                                                class=" ti-trash "></i></a></td>

                                                </tr>
                                                <% })%>
                                                    <%}%>



                                            </tbody>
                                </table>

                                <!--------------------------------------------------------------------- end CART TAB ------------------------------------------------------------------------------>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update btn-hover">
                                        <a style="margin-right: 50px;" href="/shoppage">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear-wrap">
                                        <div class="cart-clear btn-hover">
                                            <button>Update Cart</button>
                                        </div>
                                        <div class="cart-clear btn-hover">
                                            <a style="margin-left: 20rem;" href="#">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>




                </div>

                <div class="col-4 ">
                    <div class="grand-total-wrap">
                        <div class="grand-total-content">
                            <h3>Subtotal <span>₹<%= total %></span></h3>
                            <br>
                            <h6>Discout <span>₹900</span></h6>
                            <h6>Coupons for you <span>₹1,100</span></h6>
                            <h6>Product GST <span>₹1,191</span></h6>
                            <h6>Delivery Charges <span>₹100</span></h6>

                            <hr>
                            <div class="grand-total">
                                <h4>Total Amount<span>₹<%= total %></span></h4>
                            </div>
                        </div>
                        <div class="grand-total-btn btn-hover">
                            <a class="btn theme-color" href="checkout.html">Proceed to checkout</a>
                        </div>
                    </div>
                </div>







            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        <h4>Calculate shipping </h4>
                        <div class="calculate-discount-content">
                            <div class="select-style mb-15">
                                <select class="select-two-active">
                                    <option>Bangladesh</option>
                                    <option>Bahrain</option>
                                    <option>Azerbaijan</option>
                                    <option>Barbados</option>
                                    <option>Barbados</option>
                                </select>
                            </div>
                            <div class="select-style mb-15">
                                <select class="select-two-active">
                                    <option>State / County</option>
                                    <option>Bahrain</option>
                                    <option>Azerbaijan</option>
                                    <option>Barbados</option>
                                    <option>Barbados</option>
                                </select>
                            </div>
                            <div class="input-style">
                                <input type="text" placeholder="Town / City">
                            </div>
                            <div class="input-style">
                                <input type="text" placeholder="Postcode / ZIP">
                            </div>
                            <div class="calculate-discount-btn btn-hover">
                                <a class="btn theme-color" href="#">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        <h4>Coupon Discount </h4>
                        <div class="calculate-discount-content">
                            <p>Enter your coupon code if you have one.</p>
                            <div class="input-style">
                                <input type="text" placeholder="Coupon code">
                            </div>
                            <div class="calculate-discount-btn btn-hover">
                                <a class="btn theme-color" href="#">Apply Coupon</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--------------------------------------------------------------------- suB tOTAL  ------------------------------------------------------------------------------>


                <div class="col-lg-4 col-md-12 col-12">
                    <div class="grand-total-wrap">
                        <div class="grand-total-content">
                            <h3>Subtotal <span>
                                    <%= total %>
                                </span></h3>
                            <div class="grand-shipping">
                                <span>Shipping</span>
                                <ul>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Free
                                            shipping</label></li>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Flat
                                            rate: <span>$100.00</span></label></li>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Local
                                            pickup: <span>$120.00</span></label></li>
                                </ul>
                            </div>
                            <div class="shipping-country">
                                <p>Shipping to Bangladesh</p>
                            </div>
                            <div class="grand-total">
                                <h4>Total <span>$185.00</span></h4>
                            </div>
                        </div>
                        <div class="grand-total-btn btn-hover">
                            <a class="btn theme-color" href="checkout.html">Proceed to checkout</a>
                        </div>
                    </div>
                </div>

                <!---------------------------------------------------------------------eND suB tOTAL  ------------------------------------------------------------------------------>


            </div>
        </div>
    </div>


<script>
    function qtyControl(current,change){
 
 console.log(current,'kkkkkkkkkkkkkkkkkk');
 const take=current.querySelector('input')
 console.log(take,'rrrrrrr');
 fetch('/viewcart',{
     method:"post",
     headers:{
             'Content-Type':'application/json'
             },body:JSON.stringify({change,qty:take.value})
 })
//  window.location.href='/viewcart'
}
</script>



    <%- include('../partials/mainfooter.ejs')%>