<%- include('../partials/mainheader.ejs')%>
  <style>
    .error-message {
      color: red;
    }
  </style>

  <div class="col-lg-9 col-md-8"
    style="justify-content: center; align-items: center; display: flex; margin-top: 100px; margin-bottom: 100px; padding-left: 30%;">
    <div class="tab-content" id="myaccountContent">
      <!-- Single Tab Content Start -->
      <p id="msg" class="text-danger" style="justify-content:  center; align-items: center; display: flex;"></p>
      <% if(typeof message!=='undefined' ){ %>

        <h6 id="errorMessage" style="color: red;" style="justify-content: center; text-align: center;">
          <%= message %>
        </h6>
        <% } %>

          <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
            <div class="myaccount-content">
              <h3>Edit Your Details</h3>
              <div class="account-details-form">
                <!-- <form action="/edituserdetiles?id=<%= userData._id %>" method="post"> -->
                <form>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="single-input-item">
                        <label for="first-name" class="required">User Name</label>
                        <input type="text" id="user-name" value="<%=userData.name %>" name="username" />
                        <div id="userNameError" class="error-message"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="single-input-item">
                        <label for="last-name" class="required">Mobile No</label>
                        <input type="text" id="user-mobile" value="<%=userData.mobile %>" name="usermobile" />
                        <div id="userMobileError" class="error-message"></div>
                      </div>
                    </div>
                  </div>
                  <div class="single-input-item btn-hover">
                    <input type="hidden" name="id" value="<%= userData._id %>" />

                    <a href="#" onclick="editcat('<%= userData._id %>')"> <button class="check-bt sqr-btn"
                        type="submit">Update</button>
                    </a>
                    <!-- <button class="check-bt sqr-btn" type="submit"></button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
  </div>


  <script>
    function editcat(id) {
      let username = document.getElementById("user-name").value;
      let usermobile = document.getElementById("user-mobile").value;
      let message = document.getElementById("msg");
      var userName = document.getElementById('user-name').value.trim();
      var userMobile = document.getElementById('user-mobile').value.trim();
      var userNameError = document.getElementById('userNameError');
      var userMobileError = document.getElementById('userMobileError');
      var onlyLetters = /^[A-Za-z]+$/;
      var onlyNumbers = /^[0-9]+$/;

      userNameError.textContent = '';
      userMobileError.textContent = '';

      if (userName.trim() === '') {
        userNameError.innerHTML = 'Please enter a valid username!';
        return false;
      } else if (!userName.trim()) {
        userNameError.innerHTML = 'Please enter a valid username!';
        return false;
      }

      if (userMobile === '') {
        userMobileError.innerHTML = 'Please enter a valid mobile number!';
        return false;
      } else if (!onlyNumbers.test(userMobile)) {
        userMobileError.innerHTML = 'Mobile number can only contain numbers!';
        return false;
      } else if (userMobile.length !== 10) {
        userMobileError.innerHTML = 'Mobile number must be 10 digits long!';
        return false;
      }


      fetch(`/edituserdetiles/${id}`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ username, usermobile }),
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          if (data.already) {
            message.innerHTML = data.already;
           
          } else if (data.success) {
            window.location.href = "/edituserdetiles";
          } else {
            message.innerHTML = "Something wrong";
           
          }
        })
        .catch((err) => {
          console.log(err);
        });
    }
  </script>

  <%- include('../partials/mainfooter.ejs')%>