<%- include('../partials/mainheader.ejs')%>
<style>
     .swal2-popup {
        width: 300px; 
        height: 160px; 
        font-size: 9px;
    }
    #productname{
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
    }
    #productname2{
        color: rgb(170, 160, 160);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
    #offer2{
        
        color: white;
        font-size: 14px;
        height: 45px; 
    }
    #offerdiv{
        background-color: green;
        color: white;
        font-size: 14px;
        height: 22px;
        border-radius: 100px;
        width: 40px;
        text-align: center;
    }
    #productname7{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
    }
    #productprice{color: black;}
    #productprice1{color: green}
    #productprice2{color: red}
   
   
</style>


        <div class="slider-area">
            <div class="slider-active swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-2" style="background-image:url(/userpublic/indexassets/assets/images/slider/slider-bg-2.jpg)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-content-2-wrap slider-animated-2">
                                            <h3 class="animated">Up To 40% Off</h3>
                                            <h1 class="animated">Summer <br>Collection</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="/shoppage" class="btn hover-border-radius theme-color animated">
                                                    Shop Now
                                                </a>
                                            </div>
                                            <h2 class="animated">Furnirtre</h2>
                                            <img class="animated" src="/userpublic/indexassets/assets/images/icon-img/chair.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-2" style="background-image:url(/userpublic/indexassets/assets/images/slider/slider-bg-3-2.jpg)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-content-2-wrap slider-animated-2">
                                            <h3 class="animated">Up To 40% Off</h3>
                                            <h1 class="animated">Summer <br>Collection</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="/shoppage" class="btn hover-border-radius theme-color animated">
                                                    Shop Now
                                                </a>
                                            </div>
                                            <h2 class="animated">Furnirtre</h2>
                                            <img class="animated" src="/userpublic/indexassets/assets/images/icon-img/chair.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
                    <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="category-area bg-gray-4 pt-95 pb-100">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Products Category</h2>
                </div>
                <div class="category-slider-active-2 swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                <div class="category-img-2">
                                    <a href="/shoppage">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-6-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-6.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="/shoppage">Wooden Sat</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="400">
                                <div class="category-img-2">
                                    <a href="/shoppage">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-7-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-7.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="/shoppage">Office Cabin</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="600">
                                <div class="category-img-2">
                                    <a href="/shoppage">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-8-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-8.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="/shoppage">Bedroom Light</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="800">
                                <div class="category-img-2">
                                    <a href="/shoppage">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-9-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-9.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="/shoppage">Bathroom Kit</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="1000">
                                <div class="category-img-2">
                                    <a href="/shoppage">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-10-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-10.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="/shoppage">Kitchen Kit</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center">
                                <div class="category-img-2">
                                    <a href="#">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-11-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-11.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="#">Computer Table</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-category-wrap-2 text-center">
                                <div class="category-img-2">
                                    <a href="#">
                                        <img class="category-normal-img" src="/userpublic/indexassets/assets/images/category/category-7-black.png" alt="">
                                        <img class="category-hover-img" src="/userpublic/indexassets/assets/images/category/category-hover-7.png" alt="icon">
                                    </a>
                                </div>
                                <div class="category-content-2 category-content-2-black">
                                    <h4><a href="#">Office Cabin</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pt-95 pb-60">
            <div class="container">
                <div class="section-title-tab-wrap mb-75" data-aos="fade-up" data-aos-delay="200">
                    <div class="section-title-2">
                        <h2>New Added Products</h2>
                    </div>
                </div>
                <div class="tab-content jump ">
                    <div id="pro-1" class="tab-pane active">
                        <div class="row">
                            <%  ProductData.forEach(data=>{%>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-6 ">
                                <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-img img-zoom mb-25">
                                   
                                        <a href="/producttab/<%= data._id %>">
                                            <img src="/uploads/<%= data.productimage[0] %>" alt="">
                                        </a>
                                       

                                        
                                        <% if (!data.offerId ) { %>
                                        <div class="product-badge badge-top badge-right badge-success" id="offerdiv" style="display: none;">
                                        <p id="offer2" ></p>
                                        </div>
                                        <% }else{ %>
                                        <div class="product-badge badge-top badge-right badge-success" id="offerdiv">
                                        <p id="offer2" ><%= data.offerId?.percentage %>%</p>
                                        </div>
                                        <% } %>
                                   
                                        
                                        <div class="product-action-wrap">
                                            <button class="product-action-btn-1" id="wishlistlike" title="Wishlist"  onclick="wishlstProductId('<%= data._id %>')"><i class="pe-7s-like"></i></button>
                                            <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                            </button>
                                        </div>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2" title="Add To Cart"   onclick="addItemInCart('<%= data._id %>')"><i class="pe-7s-cart"></i> Add to cart</button>
                                        </div>
                                    </div>
                                    <div class="product-content">

                                        <h3><a href="/producttab?id=<%= data._id %>" id="productname7"><%= data.productname %></a></h3>
                                        <div class="product-price">
                                            <% if (!data.offerId) { %>
                                            <span id="productprice">₹<%= data.productprice %></span>
                                            <% } else { %>
                                                <% var discountedPrice = data.productprice - (data.productprice * data.offerId?.percentage / 100);%>    
                                            <span id="productprice1">₹<%= discountedPrice.toFixed(0)%></span>
                                            <span id="productname2"><del id="productprice2">₹<%= data.productprice %></del></span>
                                            <% } %>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-area pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="/shoppage"><img src="/userpublic/indexassets/assets/images/banner/banner-6.png" alt=""></a>
                            <div class="banner-content-5">
                                <span>Up To 40% Off</span>
                                <h2>Dining Furniture</h2>
                                <div class="btn-style-3 btn-hover">
                                    <a class="btn hover-border-radius" href="product-details.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <a href="/shoppage"><img src="/userpublic/indexassets/assets/images/banner/banner-7.png" alt=""></a>
                            <div class="banner-content-5">
                                <span>Up To 40% Off</span>
                                <h2>Bed Furniture</h2>
                                <div class="btn-style-3 btn-hover">
                                    <a class="btn hover-border-radius" href="/shoppage">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-95">
            <div class="container">
                
                <div class="product-slider-active-1 swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-wrap">
                                <div class="product-img img-zoom mb-25">
                                    <a href="product-details.html">
                                        <img src="/userpublic/indexassets/assets/images/product/product-1.png" alt="">
                                    </a>
                                    <div class="product-badge badge-top badge-right badge-pink">
                                        <span>-10%</span>
                                    </div>
                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button>
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                    <div class="product-price">
                                        <span class="old-price">$25.89 </span>
                                        <span class="new-price">$20.25 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrap">
                                <div class="product-img img-zoom mb-25">
                                    <a href="product-details.html">
                                        <img src="/userpublic/indexassets/assets/images/product/product-2.png" alt="">
                                    </a>
                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button>
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                    <div class="product-price">
                                        <span>$50.25 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrap">
                                <div class="product-img img-zoom mb-25">
                                    <a href="product-details.html">
                                        <img src="/userpublic/indexassets/assets/images/product/product-3.png" alt="">
                                    </a>
                                    <div class="product-badge badge-top badge-right badge-pink">
                                        <span>-10%</span>
                                    </div>
                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button>
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">Easy Modern Chair</a></h3>
                                    <div class="product-price">
                                        <span class="old-price">$45.00 </span>
                                        <span class="new-price">$40.00 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrap">
                                <div class="product-img img-zoom mb-25">
                                    <a href="product-details.html">
                                        <img src="/userpublic/indexassets/assets/images/product/product-4.png" alt="">
                                    </a>
                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button>
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">Stylish Swing Chair</a></h3>
                                    <div class="product-price">
                                        <span>$30.25 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-wrap">
                                <div class="product-img img-zoom mb-25">
                                    <a href="product-details.html">
                                        <img src="/userpublic/indexassets/assets/images/product/product-2.png" alt="">
                                    </a>
                                    <div class="product-badge badge-top badge-right badge-pink">
                                        <span>-10%</span>
                                    </div>
                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button>
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                    <div class="product-price">
                                        <span class="old-price">$80.50 </span>
                                        <span class="new-price">$75.25 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-prev-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-left"></i></div>
                    <div class="product-next-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="banner-area pb-30">
            <div class="bg-img bg-padding-2" style="background-image:url(/userpublic/indexassets/assets/images/bg/bg-2.png)">
                <div class="container">
                    <div class="banner-content-5 banner-content-5-static">
                        <span data-aos="fade-up" data-aos-delay="200">Up To 40% Off</span>
                        <h1 data-aos="fade-up" data-aos-delay="400">New Furniture <br>Sofa Set</h1>
                        <div class="btn-style-3 btn-hover" data-aos="fade-up" data-aos-delay="600">
                            <a class="btn hover-border-radius" href="/shoppage">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        


        <script>
            function addItemInCart(id) {
                console.log(id);
                fetch(`/producttab/${id}`, {
                    method: "post",
                    headers: { "Content-Type": "application/json" },
                })
                .then((response) => {
                    if (response.ok) {
                       
                        window.location.href = '/viewcart';
                    } else {
                        window.location.href = '/viewcart';
                    }
                })
                .catch((err) => {
                    console.log(err);
                    
                });
            }





            function wishlstProductId(id) {
    console.log('=======================productId==========================', id)
    fetch('/user/wishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: id })
    })
    .then(response => {
        if (response.ok) {
            return response.json(); // Parse response JSON if response is okay
        } else {
            throw new Error('Error adding product to wishlist');
        }
    })
    .then(data => {
        console.log('Response Data:', data); // Log the parsed data to the console
        if (data && data.message) {
            Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message,
                    position: 'top-end',
                    timer: 900,
                    showConfirmButton: false
                });
        } else {
            throw new Error('Invalid response data');
        }
    })
    .catch(error => {
        Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: error.message,
                position: 'top-end',
                timer: 1000,
                showConfirmButton: false
            });
      
        console.error('Error:', error);
    });
}

        </script>
        
      
        <%- include('../partials/mainfooter.ejs')%>


        