<%- include('../partials/mainheader.ejs')%>
    <!-- mini cart start -->

<style>
    #hurry{
        color: orangered;
    }
    #limited{
        color: blue;

    }
    #available{
        color: green;
    }
   
    .swal2-popup {
        width: 300px; 
        height: 160px; 
        font-size: 9px;
    }
    #wishlist{
    color: red;
    fill: red;
    font-size: 35px;
}
 
</style>

    <div class="product-details-area pb-100 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-details-img-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="swiper-container product-details-big-img-slider-2 pd-big-img-style imf">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="/uploads/<%= savedData.productimage[0] %>">
                                                <img src="/uploads/<%= savedData.productimage[0] %>" alt="">
                                            </a>
                                        </div>
                                        <a class="easyzoom-pop-up img-popup"
                                            href="/uploads/<%= savedData.productimage[0] %>">
                                            <i class="pe-7s-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="/uploads/<%= savedData.productimage[1] %>">
                                                <img src="/uploads/<%= savedData.productimage[0] %>" alt="">
                                            </a>
                                        </div>
                                        <a class="easyzoom-pop-up img-popup"
                                            href="/uploads/<%= savedData.productimage[2] %>">
                                            <i class="pe-7s-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="/uploads/<%= savedData.productimage[1] %>">
                                                <img src="/uploads/<%= savedData.productimage[0] %>" alt="">
                                            </a>
                                        </div>
                                        <a class="easyzoom-pop-up img-popup"
                                            href="/uploads/<%= savedData.productimage[3] %>">
                                            <i class="pe-7s-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="/uploads/<%= savedData.productimage[0] %>">
                                                <img src="/uploads/<%= savedData.productimage[2] %>" alt="">
                                            </a>
                                        </div>
                                        <a class="easyzoom-pop-up img-popup"
                                            href="/uploads/<%= savedData.productimage[1] %>">
                                            <i class="pe-7s-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="/uploads/<%= savedData.productimage[1] %>">
                                                <img src="/uploads/<%= savedData.productimage[2] %>" alt="">
                                            </a>
                                        </div>
                                        <a class="easyzoom-pop-up img-popup"
                                            href="/uploads/<%= savedData.productimage[3] %>">
                                            <i class="pe-7s-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-details-small-img-wrap  " >
                            <div
                                class="swiper-container product-details-small-img-slider-2 pd-small-img-style pd-small-img-style-modify" >
                                <div class="swiper-wrapper" id="downrap">
                                    <div class="swiper-slide">
                                        <div class="product-details-small-img ">
                                            <img src="/uploads/<%= savedData.productimage[1] %>" alt="Product Thumnail">
                                        </div>
                                    </div>
                                    <div class="swiper-slide imf">
                                        <div class="product-details-small-img">
                                            <img src="/uploads/<%= savedData.productimage[2] %>" alt="Product Thumnail">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-details-small-img">
                                            <img src="/uploads/<%= savedData.productimage[3] %>" alt="Product Thumnail">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-details-small-img">
                                            <img src="/uploads/<%= savedData.productimage[2] %>" alt="Product Thumnail">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-details-small-img">
                                            <img src="/uploads/<%= savedData.productimage[1] %>" alt="Product Thumnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pd-prev-2 pd-nav-style-2" id="downrap1"> <i class="ti-angle-left" ></i></div>
                            <div class="pd-next-2 pd-nav-style-2"  id="downrap2"> <i class="ti-angle-right" ></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                        <h2>
                            <%= savedData.productname %>
                        </h2>
                        
                        <div class="product-details-price">

                            <% if (!savedData.offerId) { %>
                            <span class="new-price">₹<%= savedData.productprice %></span>
                            <% }else{ %>
                            <% var discountedPrice = savedData.productprice - (savedData.productprice * savedData.offerId?.percentage / 100);%>
                            <span class="text-muted" ><del><%= savedData.productprice %></del></span>
                            <span class="new-price" id="productprice">Rs.<%= discountedPrice.toFixed(0) %>/-</span>
                            <% } %>


                        </div>
                       
                        <div class="product-details-review">
                            <div class="product-rating">
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                            </div>
                            <span>(10 Customer Review)</span>
                        </div>


                        <div class="product-details-meta">
                            <ul>
                                
                                <% if (savedData.productquadity > 100) { %>
                                    <li><h6 class="title">Stock:</h6> <h6 id="available">Stock Avilable</h6></li>
                                <% } else if (savedData.productquadity < 100 && savedData.productquadity >= 50) { %>
                                    <li><h6 class="title">Stock:</h6> <h6 id="limited">Limited stock Only</h6></li>
                                <% } else if (savedData.productquadity < 50 && savedData.productquadity >= 10) { %>
                                    <li><h6 class="title">Stock:</h6><h6 id="hurry">Hurry few left</h6> </li>
                                <% } else if (savedData.productquadity < 10  && savedData.productquadity >= 1) { %>
                                    <li><h6 class="title">Stock:</h6><h6 style="color: rgb(236, 118, 63); ">Only(<%= savedData.productquadity %>) Avilable</h6></li>
                                <% } else if (savedData.productquadity < 1) { %> 
                                    <li><h6 class="title">Stock:</h6><h6 style="color: red; ">Only(<%= savedData.productquadity %>) Avilable</h6></li>

                                <% } %>



                                <li><span class="title">Category:</span>
                                    <ul>
                                        <li><a href="#">
                                                <%= savedData.categoryId %>
                                            </a>,</li>

                                    </ul>
                                </li>
                                <li><span class="title">Tags:</span>
                                    <ul class="tag">
                                        <li><a href="#">
                                                <%= savedData.brand %>
                                            </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-------------------------------------- ad-------------------------------------------------------------- -->

                        
                        <div class="product-details-action-wrap">
                            
                            <div class=" btn-hover">

                                <button
                                    style="background-color: rgb(206, 76, 53); width: 150px; height: 70px ; color: rgb(255, 254, 254); border: none;"
                                    onclick="addItemInCart('<%= savedData._id %>')">Add to Cart</button>

                            </div>
                            <div class="single-product-wishlist">
                                <a title="Wishlist" onclick="wishlstProductId('<%= savedData._id %>')"><i class="pe-7s-like" id="wishlist" ></i></a>
                            </div>
                            <div class="single-product-compare">
                                <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                            </div>
                        </div>
                        <!-------------------------------------- ad-------------------------------------------------------------- -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-review-area pb-85">
        <div class="container">
            <div class="description-review-topbar nav" data-aos="fade-up" data-aos-delay="200">
                <a class="active" data-bs-toggle="tab" href="#des-details1"> Description </a>
                <a data-bs-toggle="tab" href="#des-details2" class=""> Information </a>
                <a data-bs-toggle="tab" href="#des-details3" class=""> Reviews </a>
            </div>
            <div class="tab-content">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-content text-center">
                        <p data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercita ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. </p>
                        <p data-aos="fade-up" data-aos-delay="400">Excepteur sint occaecat cupidatat non proident, sunt
                            in culpa qui officia deserunt mollit anim id est laborum. Sed ut per unde omnis iste natus
                            error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                            ab illo</p>
                    </div>
                </div>
                <div id="des-details2" class="tab-pane">
                    <div class="specification-wrap table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="width1">Brands</td>
                                    <td>Airi, Brand, Draven, Skudmart, Yena</td>
                                </tr>
                                <tr>
                                    <td class="width1">Color</td>
                                    <td>Blue, Gray, Pink</td>
                                </tr>
                                <tr>
                                    <td class="width1">Size</td>
                                    <td>L, M, S, XL, XXL</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="review-wrapper">
                        <h3>1 review for Sleeve Button Cowl Neck</h3>
                        <div class="single-review">
                            <div class="review-img">
                                <img src="/userpublic/indexassets/assets/images/product-details/review-1.png" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <h5><span>HasTech</span> - April 29, 2022</h5>
                                <p>Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a.
                                    Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac
                                    turpis pharetra, in vehicula lacus scelerisque</p>
                            </div>
                        </div>
                    </div>
                    <div class="ratting-form-wrapper">
                        <h3>Add a Review</h3>
                        <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                        <div class="your-rating-wrap">
                            <span>Your rating</span>
                            <div class="your-rating">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                        </div>
                        <div class="ratting-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="rating-form-style mb-15">
                                            <label>Name <span>*</span></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="rating-form-style mb-15">
                                            <label>Email <span>*</span></label>
                                            <input type="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="rating-form-style mb-15">
                                            <label>Your review <span>*</span></label>
                                            <textarea name="Your Review"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="save-email-option">
                                            <p><input type="checkbox"> <label>Save my name, email, and website in this
                                                    browser for the next time I comment.</label></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-submit">
                                            <input type="submit" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-product-area pb-95">
        <div class="container">
            <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                <h2>Related Products</h2>
            </div>
            <div class="related-product-active swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                            <div class="product-img img-zoom mb-25">
                                <a href="product-details.html">
                                    <img src="/userpublic/indexassets/assets/images/product/product-1.png" alt="">
                                </a>
                                <div class="product-badge badge-top badge-right badge-pink">
                                    <span>-10%</span>
                                </div>
                                <div class="product-action-wrap">
                                    <button class="product-action-btn-1" title="Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                </div>
                                <div class="product-action-2-wrap">
                                    <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                        Add to cart</button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                <div class="product-price">
                                    <span class="old-price">$25.89 </span>
                                    <span class="new-price">$20.25 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrap" data-aos="fade-up" data-aos-delay="400">
                            <div class="product-img img-zoom mb-25">
                                <a href="product-details.html">
                                    <img src="/userpublic/indexassets/assets/images/product/product-2.png" alt="">
                                </a>
                                <div class="product-action-wrap">
                                    <button class="product-action-btn-1" title="Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                </div>
                                <div class="product-action-2-wrap">
                                    <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                        Add to cart</button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                <div class="product-price">
                                    <span>$50.25 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrap" data-aos="fade-up" data-aos-delay="600">
                            <div class="product-img img-zoom mb-25">
                                <a href="product-details.html">
                                    <img src="/userpublic/indexassets/assets/images/product/product-3.png" alt="">
                                </a>
                                <div class="product-badge badge-top badge-right badge-pink">
                                    <span>-10%</span>
                                </div>
                                <div class="product-action-wrap">
                                    <button class="product-action-btn-1" title="Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                </div>
                                <div class="product-action-2-wrap">
                                    <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                        Add to cart</button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Easy Modern Chair</a></h3>
                                <div class="product-price">
                                    <span class="old-price">$45.00 </span>
                                    <span class="new-price">$40.00 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrap" data-aos="fade-up" data-aos-delay="800">
                            <div class="product-img img-zoom mb-25">
                                <a href="product-details.html">
                                    <img src="/userpublic/indexassets/assets/images/product/product-4.png" alt="">
                                </a>
                                <div class="product-action-wrap">
                                    <button class="product-action-btn-1" title="Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                </div>
                                <div class="product-action-2-wrap">


                                    <button class="product-action-btn-2" title="Add To Cart"><a href="#" onclick=""><i
                                                class="pe-7s-cart"></i>Add To Cart</a></button>

                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">Stylish Swing Chair</a></h3>
                                <div class="product-price">
                                    <span>$30.25 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrap">
                            <div class="product-img img-zoom mb-25">
                                <a href="product-details.html">
                                    <img src="/userpublic/indexassets/assets/images/product/product-2.png" alt="">
                                </a>
                                <div class="product-badge badge-top badge-right badge-pink">
                                    <span>-10%</span>
                                </div>
                                <div class="product-action-wrap">
                                    <button class="product-action-btn-1" title="Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                </div>
                                <div class="product-action-2-wrap">
                                    <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                        Add to cart</button>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                <div class="product-price">
                                    <span class="old-price">$80.50 </span>
                                    <span class="new-price">$75.25 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body::-webkit-scrollbar {
            width: 0;
        }

        .product-gallery-item:before {
            opacity: 0;
            visibility: hidden !important;
            border: 0.1rem solid #c96;
        }

        .imf {
            overflow: hidden;
        }

        .imf img {

            transform: scale(var(--zoom, 1));
            object-fit: cover;
            transform-origin: var(--x) var(--y);
            transition: cubic-bezier(0.18, 0.9, 0.33, 1.01) 1s;
            /* opacity: 0.3; */
        }

        .imf:hover {
            --zoom: 2.5;
            cursor: crosshair;



        }
    </style>
    <script>

        const elem = document.querySelector('.imf');

        let x, y, height, width;
        elem.onmouseenter = () => {
            const size = elem.getBoundingClientRect();
            x = size.x;
            y = size.y;
            width = size.width;
            height = size.height;

        }
        elem.onmousemove = e => {
            const horizontel = (e.clientX - x) / width * 100;
            const vertical = (e.clientY - y) / height * 100;
            console.log(vertical);

            elem.style.setProperty('--x', horizontel + '%')
            elem.style.setProperty('--y', vertical + '%')
            console.log(elem);
        }


    </script>
    <script>
        function addItemInCart(id) {
            console.log(id);
            fetch(`/producttab/${id}`, {
                method: "post",
                headers: { "Content-Type": "application/json" },
            })
            .then((response) => {
                if (response.ok) {
                    // If response is okay, redirect to the cart page
                    window.location.href = '/viewcart';
                } else {
                    window.location.href = '/viewcart';
                }
            })
            .catch((err) => {
                console.log(err);
                // If an error occurs, handle it accordingly (e.g., show an error message)
            });
        }


        function wishlstProductId(id) {
    console.log('=======================productId==========================', id)
    fetch('/user/wishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: id })
    })
    .then(response => {
        if (response.ok) {
            return response.json(); // Parse response JSON if response is okay
        } else {
            throw new Error('Error adding product to wishlist');
        }
    })
    .then(data => {
        console.log('Response Data:', data); // Log the parsed data to the console
        if (data.message==='success') {
            Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: "product added in Wishlist",
                    position: 'top-end',
                    timer: 900,
                    showConfirmButton: false
                });
        } else {
            Swal.fire({
                    icon: 'warning',
                    title: 'Success!',
                    text: "Product Alredy in wishlist",
                    position: 'top-end',
                    timer: 900,
                    showConfirmButton: false
                });
        }
    })
    .catch(error => {
        Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: error.message,
                position: 'top-end',
                timer: 1000,
                showConfirmButton: false
            });
      
        console.error('Error:', error);
    });
}

    </script>
    


    <%- include('../partials/mainfooter.ejs')%>